<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TicTacToe</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Permanent+Marker">
  <link rel="stylesheet" href="./css/app.css">
</head>

<body>
  <div id="app">
    <div v-if="gameMode === null" class="mode-selection">
      <button class="mode-button" @click="setGameMode('vsSelf')">Gioca da solo</button>
      <button class="mode-button" @click="setGameMode('vsComputer')">Gioca contro il computer</button>
    </div>
    <div v-if="gameMode !== null" class="board">
      <div class="row" v-for="(row, rowIndex) in board" :key="rowIndex">
        <div class="cell" v-for="(cell, colIndex) in row" :key="colIndex" @click="makeMove(rowIndex, colIndex)">
          <span :class="cell === 'X' ? 'x' : (cell === 'O' ? 'o' : '')">{{ cell }}</span>
        </div>
      </div>
      <div v-if="!winner && !isBoardFull()" class="status">
        <p v-if="player === 'X'">Turno del giocatore: {{ player }}</p>
        <p v-else-if="gameMode === 'vsComputer'">Turno del computer</p>
        <p v-else="gamemode === 'vsSelf'">Turno del giocatore {{ player }}</p>
      </div>
      <div v-if="gameOver">
        <p class="status">{{ winner ? winner + ' ha vinto!' : 'Pareggio!' }}</p>
        <button @click="restartGame">Ricomincia</button>
      </div>
      <button @click="goToMenu">Menu principale</button>
    </div>
  </div>

  <script src="https://unpkg.com/vue@3.2.22/dist/vue.global.js"></script>
  <script src="./js/app.js"></script>
</body>

</html>